/* Main Stylesheets's */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1270px;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: #195a70;
    padding: 15px 0 15px 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper__item {
    width: 100%;
}

.navbar-list {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-wrapper div.navbar-wrapper__item:last-child ul.navbar-list {
    float: right;
}

.navbar-list__item {
    position: relative;
    padding: 0 15px 0 15px;
    color: #fff;
}

.navbar-list__item a {
    color: #fff;
    text-decoration: none;
}

.navbar-logo img {
    width: 50px;
    vertical-align: middle;
}

/* If auth */

.navbar-list__item-userpick {
    padding: 0 0 0 30px;
}

.navbar-list__item-userpick img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    vertical-align: middle;
}

.list-item__dropdown-info {
    display: flex;
    align-items: center;
}

.dropdown-info__list {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: red;
    width: 100%;
    height: auto;
}

.list-item__dropdown-info:hover .dropdown-info__list {
    display: block;
}

/* Material */
/* Button's */
.button {
    position: relative;
}

.button-default {
    background-color: #fff;
    color: #000;
    border: 2px solid #31aadc;
    padding: 10px 15px 10px 15px;
}

.button-bordered {
    border-radius: 35px;
}

.button-fullwidth {
    width: 100%;
}

/* Lobby */

section.lobby {
    padding: 50px 0 0 0;
}

.lobby-wrapper {
    display: flex;
}

.lobby-wrapper div.lobby-wrapper__item:last-child {
    width: 50%;
}

.lobby-wrapper__item {
    position: relative;
    width: 100%;
    padding: 0 50px 0 50px;
}

.lobby-card {
    position: relative;
    width: 100%;
    background-color: #459991;
    border-radius: 10px;
}

#lobby-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .6);
}

.lobby-loader__spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.lobby-loader__spinner img {
    width: 100px;
}

.lobby-loader__spinner-title {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.lobby-card__title {
position: relative;
padding: 20px;
}

.lobby-card__content {
position: relative;
}

.lobby-card__footer {
position: relative;
text-align: center;
padding: 20px;
}

.card-footer__setting {
position: absolute;
right: 25px;
}

.card-title__create-lobby {
position: absolute;
right: 25px;
}

/* Render */
a.room-join {
    cursor: pointer;
}

.chat-wrapper {
    height: 319px;
    overflow-y: auto;
    -ms-word-break: break-all;
    word-break: break-all;
}

.chat-message__wrapper {
    display: flex;
}

.chat-message__userpic img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.room-chat__footer {
    position: relative;
    text-align: center;
    padding: 0;
}

.room-chat__message-send {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat-height {
    height: 361px;
}

#chat-render__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    resize: none;
    outline: none;
    padding: 12px;
    border: 2px solid #195a70;
    border-radius: 0 0 5px 5px;
}

#char_render__submit {
    height: 43px;
}

.test {
    float: right;
}