/* Main Stylesheets's */

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1270px;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: #195a70;
    padding: 15px 0 15px 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper__item {
    width: 100%;
}

.navbar-list {
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-wrapper div.navbar-wrapper__item:last-child ul.navbar-list {
    float: right;
}

.navbar-list__item {
    position: relative;
    padding: 0 15px 0 15px;
    color: #fff;
}

.navbar-list__item a {
    color: #fff;
    text-decoration: none;
}

.navbar-logo img {
    width: 50px;
    vertical-align: middle;
}

/* If auth */

.navbar-list__item-userpick {
    padding: 0 0 0 30px;
}

.navbar-list__item-userpick img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    vertical-align: middle;
}

.list-item__dropdown-info {
    display: flex;
    align-items: center;
}

.dropdown-info__list {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: red;
    width: 100%;
    height: auto;
    z-index: 1;
}

.list-item__dropdown-info:hover .dropdown-info__list {
    display: block;
}

/* Material */
/* Button's */
.button {
    position: relative;
    cursor: pointer;
    outline: none;
}

.button-default {
    background-color: #fff;
    color: #000;
    border: 2px solid #31aadc;
    padding: 10px 15px 10px 15px;
}

.button-accept {
    background-color: #38ad69;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 15px 10px 15px;
}

.button-decline {
    background-color: #df4853;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 15px 10px 15px;
}

.button-bordered {
    border-radius: 35px;
}

.button-fullwidth {
    width: 100%;
}

.button-m__10 {
    margin: 10px 0 0 0;
}

.button-mb__10 {
    margin: 0 0 10px 0;
}

.button-mb__20 {
    margin: 10px 0 10px 0;
}
/* Lobby */

section.lobby {
    padding: 25px 0 0 0;
}

section.room {
    padding: 25px 0 0 0;
}

.lobby-wrapper {
    display: flex;
    overflow-x: hidden;
}

.lobby-wrapper div.lobby-wrapper__item:last-child {
    width: 50%;
}

.lobby-wrapper__item {
    position: relative;
    width: 100%;
    padding: 0 25px 0 25px;
}

.lobby-card {
    position: relative;
    width: 100%;
    background-color: #459991;
    border-radius: 10px;
    margin: 25px 0 0 0;
}

#lobby-loader {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, .6);
}

.lobby-loader__spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.lobby-loader__spinner img {
    width: 100px;
}

.lobby-loader__spinner-title {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.lobby-card__title {
position: relative;
padding: 20px;
}

.lobby-card__content {
position: relative;
}

.lobby-card__footer {
position: relative;
text-align: center;
padding: 20px;
}

.card-footer__setting {
position: absolute;
right: 25px;
}

.card-footer__date-expiry {
    position: absolute;
    left: 25px;
}

.card-title__create-lobby {
position: absolute;
right: 25px;
}

/* Room */
/* General */

#wait-spinner__wrapper {
    display: none;
}

.wait-spinner__item {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 150px;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background-color: #7289da;
}

.wait-spinner__item img {
    position: absolute;
    width: 60%;
    right: 0;
}

/* Info about room */
.info-room {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
}

.info-room__item {
    color: #ccc;
    font-size: 16px;
}

/* Render */
a.room-join {
    cursor: pointer;
}

/* Chat */
.item-chat {
    display: none;
    right: -100%;
    animation: chat-anim__backward .8s ease forwards;
}

.item-chat.active {
    display: block;
    animation: chat-anim__forward .8s ease forwards;
}

.item-content {
    animation: content-anim__backward 1s ease forwards;
}

.item-content.active {
    animation: content-anim__forward 1s ease forwards;
}

@keyframes content-anim__forward {
    from { width: 100% }
    to { width: 85%; }
}

@keyframes content-anim__backward {
    from { width: 85%; }
    to { width: 100%; }
}

@keyframes chat-anim__forward {
    from { right: -100%; }
    to { right: 0; }
}

@keyframes chat-anim__backward {
    from { right: 0; }
    to { right: -100%; }
}


.chat-wrapper {
    height: 319px;
    overflow-y: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    padding: 0 10px 0 10px;
}

.chat-message__wrapper {
    display: flex;
    margin: 0 0 10px 0;
}

.userpic-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.chat-message__userpic img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.room-chat__footer {
    position: relative;
    text-align: center;
    padding: 0;
}

.chat-message__wrapper.incoming {
    justify-content: flex-end;
}

.chat-message__wrapper.incoming .chat-message__userpic, .chat-message__login {
    display: none;
}

.chat-message__message {
    border-radius: 22px;
    width: auto;
    padding: 12px;
    max-width: 236px;
    min-height: 44px;
    background-color: #fff;
    border: 1px solid #efefef;
}

.chat-message__wrapper.incoming .chat-message__message {
    background-color: #efefef;
}

/* Room-chat */
.room-chat__message-send {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat-height {
    height: 361px;
}

#chat-render__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    resize: none;
    outline: none;
    padding: 12px;
    border: 2px solid #195a70;
    border-radius: 0 0 5px 5px;
}

#char_render__submit {
    height: 43px;
}

/* Joiner`s */
img.user-render__userpick {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Other */
/* Message */
.message-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
}

#message {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    right: 0;

}

.message-timeout.error {
    background-color: #df4853;
    color: #fff;
}

.message-timeout.success {
    background-color: #38ad69;
    color: #fff;
}

.message-timeout.warning {
    background-color: #ffc107;
    color: #fff;
}

.message-timeout {
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin: 0 0 10px 0;
    animation: message-timeout 1s ease forwards;
    animation-delay: 2s;
}

@keyframes message-timeout {
    from { }
    to { margin: 0 0 10px -100%; opacity: 0; }
}

/* Modal */
.modal-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.modal {
    position: relative;
    width: 100%;
    min-height: 100px;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    margin: 0 auto;
    z-index: 1;
    animation: modal-anim__close 2s ease forwards;
}

.modal-wrapper.active {
    display: block;
}

.modal-wrapper.active .modal {
    animation: modal-anim__open .5s ease forwards;
}

@keyframes modal-anim__open {
    from { top: -100%; }
    to { top: 10%; }
}

@keyframes modal-anim__close {
    from { top: 10%; }
    to { top: -100%; }
}

.modal-navbar {
    padding: 10px;
}

.modal-content {
    padding: 0 10px 0 10px;
}

.modal-footer {
    padding: 0 10px 10px 10px;
}

.modal-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(000, 000, 000, .5);
}

.modal-mini {
    max-width: 500px;
}

.modal-medium {
    max-width: 700px;
}

.modal-large {
    max-width: 900px;
}